<footer>
  <div class="container">
    <div class="top-footer">
      <h2>Have you any question ?</h2>
      <p>It is a long established fact that a reader will be <br> distracted by the readable content of a page when </p>
      <div>
        <input type="email" placeholder="Enter Your Email" style="padding:15px; background-color: #fff;">
        <button type="submit" class="view-btn">SUBMIT</button>
      </div>
    </div>
    <div class="bott-footer">
      <div class="footer-logo_social-media">
        <img src="../img/ALLO CARE.@2x.png" alt="logo">
        <div class="sm-icons">
          <a href="https://www.instagram.com/"><img src="../img/instagram.png" alt=""></a>
          <a href="https://www.facebook.com/"><img src="../img/facebook.png" alt=""></a>
          <a href="https://twitter.com/"><img src="../img/twitter.png" alt=""></a>
          <a href="https://www.google.com/"><img src="../img/google.png" alt=""></a>
        </div>
      </div>
      <div class="navigations">
        <ul id="product" class="footer-nav">
          <li><h3>Product</h3></li>
          <li><a href="#">Chat</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Customers</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Documentaton</a></li>
        </ul>
        <ul id="services" class="footer-nav">
          <li><h3>Services</h3></li>
          <li><a href="#">For individuals</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">Doctors</a></li>
          <li><a href="#">Health Coaches</a></li>
          <li><a href="#">Store</a></li>
        </ul>
        <ul id="company" class="footer-nav">
          <li><h3>Company</h3></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Mission</a></li>
          <li><a href="#">Origin</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Team</a></li>
        </ul>
        <ul id="more" class="footer-nav">
          <li><h3>More</h3></li>
          <li><a href="#">Log in</a></li>
          <li><a href="#">Alternative</a></li>
          <li><a href="#">Conditions</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>


<script>
 $('.testimonial-carousel1').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.testimonial-carousel2'
});
$('.testimonial-carousel2').slick({
  asNavFor: '.testimonial-carousel1',
  arrows: false,
  dots: true,
  appendDots: $('.pikat'),
  dotsClass: 'slick-dots',
  vertical:true,
  verticalSwiping:true,
  slidesToShow: 2,
  slidesToScroll: 1,
  centerMode: true,
  centerPadding: '0px',
  autoplay: true,
  autoplaySpeed: 3000,
  // infinite: true,
  draggable: false
});
</script>
<script src="js/all.js"></script>
</body>
</html>
