<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="../img/ambulance.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    </style>
    <title>AlloCare</title>
  </head>
<body>
    <header>
        <div class="container">
            <nav>
                <img src="../img/ALLO CARE.@2x.png" alt="logo">
                <ul>
                    <li><a href="#">Clinics & Center</a></li>
                    <li><a href="#">Packages</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><button class="sign-up">Sign Up</button></li>
                </ul>
            </nav>
        </div>
        <div class="left-top_white-sq"></div>
        <div class="main-header">
            <div class="text-part_header">
                <h1>Be Attentive to Your Health</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>
                <div><button class="view-btn">View More</button><button class="covid">Update of COVID-19</button></div>
            </div>
            <div class="doctor-bg"><img src="../img/thedoctor.png"></div>
    </header>